#root{
    margin:10px;
}

.btn{
    margin-bottom:5px;
    margin-right:5px;
}

.custom-select{
    margin-bottom:5px;
    margin-right:5px;
}

label{
   /* display:block;*/
    margin-top:10px;
    margin-bottom:5px;
}

textarea{
    display:block;
}

input{
    margin:3px;
}

.navFooter{
    position:fixed;
    bottom:0%;
    width:100%;
    padding:10px;
    background:#53a4db;
}